h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
 
body {
    background-color: rgb(241, 229, 241);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
 
.container {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
 
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
 
table, td {
    border: 1px solid white;
    padding-left: 80px;
}
 
th {
    border: 1px solid #dddddd;
    background-color: #96D4D4;
    text-align: center;
    padding: 8px;
}
 
tr:nth-child(even) {
    background-color: #f2f2f2;
}
 
button {
    background-color: #79b258; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
 
button.update {
    background-color: #95cc27;
}
 
button.delete {
    background-color: #e07f16;
}
 
button.update:hover {
    background-color: #15e702;
}
 
button.delete:hover {
    background-color: #c4302b;
}
 
button:hover {
    background-color: #45a049;
}
 
button.addUser {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #27ce40a9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
 }
 
 button.addUser:hover {
    background-color: #45a049;
 }
